body{
    background-color: #cccccc;
}
.nav{
    width: 960px;
    margin: 10px auto;  
}
header{
    background-color: #ffffff;
}


.nav h1{
    float:left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #4aaaa5;
    color: #ffffff;
    padding: 8px;
    
}

.nav a{
    text-decoration: none;
    float: right;
    margin-left: 20px;
    margin-top: 43px;
    color: #777777;
    text-align: center;
}
a:hover{
    color:teal;
}

.nav:after{
    content: "";
    display: block;
    clear: both;
}
.box{
    width:960px;
    height: 60%;
    margin: 30px auto;
    background: #ffffff;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;    
}
.box h2{
    padding-left: 2%;
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
footer{
    text-align: center;
    background-color: #666666;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    padding: 20px;
}
form .msg{
    height:150px;
    width: 300px;
}
.box form{
    padding-left: 2%;
}
.box #hr1{
    width: 97%;
    height: 1px;
    background-color: lightslategray;
    color:lightslategray;
}
form placeholder{
    position: absolute;
}
