header{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: -15px;
    background-color: #ffffff;
    
}
ul{
    list-style: none; /*get rid of bullet points on list */
}

ul:after{   /* clear some space after top list that is my nav bar */
    content: "";
    display: block;
    clear:both;
}
li.name{
    float: left;
    margin-left: 250px;
}
h1{
    background-color: #4aaaa5;
    padding: 10px;
    color: #ffffff;
}
li.about{
    float: right;
    margin-right: 150px;
    margin-left: 20px;
    margin-top: 30px;
    
}
li.portfolio{
    float:right;
    margin-left: 20px;
    margin-top: 30px;
}
li.contact{
    float:right;
    margin-top: 30px;
}
a:link{
    color: #777777;
    text-decoration: none; /*remove underlines from links in navbar */
}
div.main{
    background-color: #ffffff;
    padding: 20px;
    width: 960px;
    height: 60%;
    text-align: center;
    margin: 30px auto;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;

}
body{
    background-color:lightgray;
}

h1#me{
    float: left;
    padding-left: 30px;
    color: #4aaaa5;
    background-color: #ffffff;
    margin-bottom: -7px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.div1:after{
    content: "";
    display: block;
    clear:both;
}
hr.aboutme{
    width: 95%;
    height: 1px;
    background-color: lightslategray;
    color:lightslategray;
}
img#myface{
    float:left;
}
p{
    line-height: 150%;
}